body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

.container {
    max-width: 550px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 13px -4px black;
    border-radius: 20px;
}

.header {
    padding: 15px;
    color: white;
    background-color: #ffc200;
    border-radius: 20px 20px 0 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.confession {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ffc200;

}

.confession-title {
    display: flex;
    overflow-x: hidden;
}

.confession-title a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.title-delete {
    overflow: hidden;
}

.complete-icon {
    min-height: 20px;
    min-width: 20px;
    background-color: green;
    border-radius: 50%;
}

.incomplete-icon {
    min-height: 20px;
    min-width: 20px;
    background-color: grey;
    border-radius: 50%;
}

.delete-confession {
    text-decoration: none;
    font-size: 30px;
}

#search-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#add-confession {
    color: #ffc200;
    text-decoration: none;
    font-size: 30px;
}

.button {
    border: 1px solid #ffc200;
    background-color: white;
    color: #ffc200;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #ffc200;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}

.body {
    padding: 20px;
}