<!-- {% load static %} -->
<section class="features" id="features">
    <div class="main">
        <h1 style="text-align:justify">Features</h1>
        <ul class="cards">
            <li class="cards_item">
                <a href="{% url 'tasks' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img" src="{% static 'main/images/undraw/undraw_chore_list_re_2lq8.svg' %}"></div>
                        <div class="card_content">
                            <h2 class="card_title">To Do List</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cards_item">
                <a href="{% url 'url' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img" src="{% static 'main/images/undraw/undraw_link_shortener_mvf6.svg' %}"></div>
                        <div class="card_content">
                            <h2 class="card_title">Link Shortener</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cards_item">
                <a href="{% url 'wordcounter' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img" src="{% static 'main/images/undraw/undraw_just_saying_re_kw9c.svg' %}">
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">Word Counter</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cards_item">
                <a href="{% url 'animerecommender' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img"
                                src="{% static 'main/images/undraw/undraw_search_re_x5gq.svg' %}"></div>
                        <div class="card_content">
                            <h2 class="card_title">Anime Recommender</h2>
                        </div>
                    </div>
                </a>
            </li>

            <li class="cards_item">
                <a href="{% url 'confessionList' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img"
                                src="{% static 'main/images/undraw/undraw_love_it_loh3.svg' %}">
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">Confession</h2>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cards_item">
                <a href="{% url 'mammalsNcbi' %}" class="card-all">
                    <div class="card">
                        <div class="card_image"><img class="crd_img"
                                src="{% static 'main/images/undraw/undraw_cat_epte.svg' %}">
                        </div>
                        <div class="card_content">
                            <h2 class="card_title">Mammals NCBI</h2>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>