{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YOTA</title>
    <link rel="shortcut icon" href="{% static 'icon/YOTA.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'main/css/tooplate-style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/card.css' %}">

    <!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
</head>

<body>

    {% include 'main/navbar.html' %}

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">
                                my website, YOTA!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Hello, I'm</span>
                            <div class="animated-info">
                                <span class="animated-item">Key</span>
                                <span class="animated-item">ITS Student</span>
                                <span class="animated-item">Python Dev</span>
                            </div>
                        </h1>

                        <p>Programming is Fun. Curently exploring Automation, 
                            Software/Web Development, Data Processing and Machine Learning using Python.</p>

                        <div class="custom-btn-group mt-4">
                            <a href="" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Download
                                Resume</a>
                            <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Contact me</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="{% static 'main/images/undraw/undraw_code_review_re_woeb.svg' %}" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- features -->
    <!-- { include features.html} -->
    <!-- projects  -->
    <!-- { include projects.html} -->
    

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Internship Profession and Technology Department</span><small>HMTC Kaizen 2022</small></h3>
                                <p>looking for information about professional/technology certification and making post design using figma
                                </p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Staff Game Development</span><small>Schematics ITS 2022</small></h3>
                                <p>Develope several games to be played in national logic contest event (Schematics NLC 2022)
                                </p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2020</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Member</span><small>SKI SMAN 1 Sidoarjo</small></h3>
                                <p>Organizing events related to organizations within the school and outside of school
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Institute of Technology Sepuluh Nopember</span><small>Informatics Engineering</small></h3>
                                <p>Curently exploring Automation, Software/Web Development
                                , Data processing and Machine learning using Python.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2019</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>High School</span><small>SMAN 1 Sidoarjo</small></h3>
                                <p>Interested in Programming, Exploring Pascal, C, C++ for Software Development and Competitive Programming.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2017</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Middle School</span><small>SMPN 1 Sidoarjo</small></h3>
                                <p>Interested in mathematics, participated in several competitions.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 mr-lg-5 col-12">
                    <div class="google-map w-100">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.6345489893847!2d112.79273661477497!3d-7.282355994743738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fa1323221a93%3A0x306c3c99adedb258!2sInstitut%20Teknologi%20Sepuluh%20Nopember!5e0!3m2!1sid!2sid!4v1669737271297!5m2!1sid!2sid"
                            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                        <div class="contact-info-item">
                            <h3 class="mb-3 text-white">Reach Me</h3>
                            <p class="footer-text mb-0"><a href="https://www.instagram.com/yotakeys/">@yotakeys</a></p>
                            <p><a href="mailto:raihankeyisa@gmail.com">raihankeyisa@gmail.com</a></p>
                        </div>

                        <ul class="social-links">
                            <li><a href="https://github.com/yotakeys" class="uil uil-code" data-toggle="tooltip" data-placement="left"
                                    title="Github"></a></li>
                            <li><a href="https://www.instagram.com/yotakeys/" class="uil uil-instagram" data-toggle="tooltip" data-placement="left"
                                    title="Instagram"></a></li>
                            <li><a href="mailto:raihankeyisa@gmail.com" class="uil uil-mailbox" data-toggle="tooltip" data-placement="left"
                                    title="Email"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <h2 class="mb-4">Message (Coming Soon)</h2>

                        <form action="" method="get">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name"
                                        id="name">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <input type="email" class="form-control" name="email" placeholder="Email"
                                        id="email">
                                </div>

                                <div class="col-12">
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                        placeholder="Message"></textarea>
                                </div>

                                <div class="ml-lg-auto col-lg-5 col-12">
                                    <input type="submit" class="form-control submit-btn" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <p class="copyright-text text-center">Copyright &copy; 2022 YOTA (v{{version}})</p>
                    <p class="copyright-text text-center">All rights reserved</p>
                    <!-- <p class="copyright-text text-center">Designed by <a rel="nofollow"
                            href="https://www.facebook.com/tooplate">Tooplate</a></p> -->
                </div>

            </div>
        </div>
    </footer>

    <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/Headroom.js' %}"></script>
    <script src="{% static 'main/js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/smoothscroll.js' %}"></script>
    <script src="{% static 'main/js/custom.js' %}"></script>

</body>

</html>