<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        {% if request.user.is_authenticated %}
        <a data-toggle="tooltip" data-placement="top" title="Logout" class="navbar-brand" href="{% url 'logout' %}"><i
                class='uil uil-user'></i> {{ request.user|title }}</a>
        {% else %}
        <a data-toggle="tooltip" data-placement="top" title="Login" class="navbar-brand" href="{% url 'login' %}"><i
                class='uil uil-user'></i> Login</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#features" class="nav-link"><span data-hover="Features">Features</span></a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                </li> -->
                <!-- <li class="nav-item">
                    <a href="" class="nav-link"><span data-hover="Blog">Blog</span></a>
                </li> -->
                <li class="nav-item">
                    <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-lg-auto">
                <div class="ml-lg-4">
                    <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Mode
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>